body{

    color: white;
}

h1{
margin-left: 45%;
margin-top: 100px;
background-image:linear-gradient(90deg,rgb(123, 208, 247),rgb(163, 247, 53),rgb(255, 230, 0),rgb(255, 80, 182));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
width: 120px;
text-shadow: darkblue;
}

.picture{
width: 667px;
height: 357px;
border-style:groove;
border-radius: 0px;
text-align: center;
padding-top: 10px;
background-color: black;

}

.text{
    width: 665px;
    height: 75px;
    border-color: rgb(253, 251, 251);
    border-style:groove;
    text-align: center;
    font-size: 16px;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    position: absolute;
    margin-left: -335px;
    margin-top: -65px;
   
}

#next{
margin: 100px;


}

.back{

}

#home{


}

.startseite{
 width: 200px;
 margin-right: 50px;
}



.intro{
margin: 100px;
margin-left: -250px;
margin-top: 150px;
background-color: rgb(255, 255, 255);
color: rgb(3, 3, 3);
border-color: rgb(150, 150, 150);
border-radius: 17px;
border-style: outset;
height: 40px;
width: 120px;
font-size: 28px;
background-image:linear-gradient(90deg,rgb(182, 182, 182),rgb(255, 255, 255),rgb(255, 255, 255),rgb(170, 170, 170));
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: bold;
text-shadow: white;
}

.ja{

}

.nein{

}